main {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color:$dark-grey;
}
.content {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top:-186px;
     width:100%;
    @include tablet{
        margin-top: -173px;
    }
    
    &:after {
        content:"";
        width:0px;
        height: 0px;
        border-top:68px solid transparent;
        border-left:$main-half solid transparent;
        border-right:$main-half solid transparent;
        border-bottom:0px;
        border-color:#e5ddd5;
        border-top-color:$dark-grey;
        top:rem(36px);
        right:100%;
          @include laptop {
           border-left:50vw solid transparent;
            border-right:50vw solid transparent;
            border-color:#e5ddd5;
            border-top-color:$dark-grey;
         }
         @include tablet {
            border-top:68px solid transparent;    
          }
         @include phone {
             border-top:45px solid transparent; 
             border-color: #e5ddd5;
            border-top-color:$dark-grey;   
         }
    }
}
