.news {
    margin-top: 68px;
    width:100%;
    max-width:$content-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: rem(46px);
    &__content{
        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
       }
    }
    @include phone {
        align-items: center;
   }
        &__list {
            display: flex;
            flex-wrap: wrap;
            @include phone {
                flex-direction:column;
           }
            
            &-item {
                flex:1;
                display: flex;
                align-items:flex-start;
                @include tablet{
                    &:last-child{
                        display:none;
                    }
                }
                 @include phone{
                   padding: 21px 0;  
                   border-top:rem(1px) solid rgba(102, 101, 101, 0.1);
                    &:first-child{
                        padding-top:0px;
                        border-top:0px;
                     }
                }
                &__wrap{
                    display: flex;
                    flex-direction: column;
                }
            }
                &-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $data;
                padding:4px 12px;
                @include phone {
                    padding:0px;
                    max-width: 74px;
                }
                &__number {
                    font-size: 30px;
                    font-weight: bold;      
                    color: #f7f4f1;
                } 
                &__month {
                    font-size: 20px;
                    color: #f7f4f1;
                    @include phone {
                        font-size: 18px;
                    }
                }
                &-triangle {
                    width:0px;
                    height: 0px;
                    border-top:15px solid transparent;
                    border-left:43px solid transparent;
                    border-right:43px solid transparent;
                    border-bottom:0px;
                    border-top-color: $data;
                    @include phone{
                        border-left:37px solid transparent;
                        border-right:37px solid transparent;
                    }
                
                }
            }
            &-desc {
                padding:0 rem(40px) 0 rem(20px);
                font-size: 18px;
                color: #000000;
            }
        }
    }
