$main-width: rem(1280px);
$main-half:$main-width/2;
$content-width:rem(960px);
$block-width:rem(320px);
$tablet-width:640px;

$dark-grey:#292929;
$grey: #353535;
$light-grey: #4e4e4e;
$white:#ffffff;

$bg-other:#e5ddd5;
$data:#000000;
$main-icons:#826550;
$btns:#f7f4f1;
